@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
colors(by bepyan.me)
original: https://github.com/bepyan/bepyan.me.v2/blob/main/src/styles/global.css
*/
@layer base {
    :root {
        --gray-50: #ffffff;
        --gray-75: #fdfdfd;
        --gray-100: #f8f8f8;
        --gray-200: #e6e6e6;
        --gray-300: #d5d5d5;
        --gray-400: #b1b1b1;
        --gray-500: #909090;
        --gray-600: #6d6d6d;
        --gray-700: #464646;
        --gray-800: #222222;
        --gray-900: #000000;
        --gray-950: #000000;

        --selection: hsla(0, 0%, 0%, 0.045);
        --border: hsla(0, 0%, 0%, 0.09);

        --page-background: var(--gray-50);

        --heading: var(--gray-900);
        --text-body: var(--gray-800);
        --text-second: var(--gray-700);
        --text-disabled: var(--gray-500);
    }

    .dark {
        --gray-50: #000;
        --gray-75: #141414;
        --gray-100: #1d1d1d;
        --gray-200: #303030;
        --gray-300: #4b4b4b;
        --gray-400: #6a6a6a;
        --gray-500: #8d8d8d;
        --gray-600: #b0b0b0;
        --gray-700: #d0d0d0;
        --gray-800: #ebebeb;
        --gray-900: #fff;
        --gray-950: #fff;

        --selection: hsla(0, 0%, 100%, 0.077);
        --border: hsla(0, 0%, 100%, 0.1);
        --spinner-color: rgba(255, 255, 255, 65);

        --page-background: var(--gray-75);

        --heading: var(--gray-900);
        --text-body: var(--gray-800);
        --text-second: var(--gray-600);
        --text-disabled: var(--gray-500);
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: var(--header-height);
        -webkit-tap-highlight-color: transparent;
    }

    h1 {
        @apply font-bold text-heading;
    }

    h2 {
        @apply font-bold;
    }

    ::selection {
        @apply bg-selection shadow-none;
    }
}
