:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;
    --vp-c-gray-1: #dddde3;
    --vp-c-gray-2: #e4e4e9;
    --vp-c-gray-3: #ebebef;
    --vp-c-gray-soft: rgba(142, 150, 170, 0.14);
    --vp-c-indigo-1: #3451b2;
    --vp-c-indigo-2: #3a5ccc;
    --vp-c-indigo-3: #5672cd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);
    --vp-c-purple-1: #6f42c1;
    --vp-c-purple-2: #7e4cc9;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.14);
    --vp-c-green-1: #18794e;
    --vp-c-green-2: #299764;
    --vp-c-green-3: #30a46c;
    --vp-c-green-soft: rgba(16, 185, 129, 0.14);
    --vp-c-yellow-1: #915930;
    --vp-c-yellow-2: #946300;
    --vp-c-yellow-3: #9f6a00;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);
    --vp-c-red-1: #b8272c;
    --vp-c-red-2: #d5393e;
    --vp-c-red-3: #e0575b;
    --vp-c-red-soft: rgba(244, 63, 94, 0.14);
}

.dark {
    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-gray-soft: rgba(101, 117, 133, 0.16);
    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);
    --vp-c-purple-1: #c8abfa;
    --vp-c-purple-2: #a879e6;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.16);
    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
    --vp-c-green-soft: rgba(16, 185, 129, 0.16);
    --vp-c-yellow-1: #f9b44e;
    --vp-c-yellow-2: #da8b17;
    --vp-c-yellow-3: #a46a0a;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
    --vp-c-red-1: #f66f81;
    --vp-c-red-2: #f14158;
    --vp-c-red-3: #b62a3c;
    --vp-c-red-soft: rgba(244, 63, 94, 0.16);
}

.mdx {
    width: 100%;
    max-width: max-content;
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.75;
    color: var(--text-second);
    letter-spacing: 0px;
}

.mdx > :first-child {
    margin-top: 0px;
}

.mdx > * {
    @apply mb-7 font-sans;
}

.mdx > :where(h1, h2, h3, h4) {
    font-weight: 600;
    color: var(--text-body);
    scroll-margin-top: var(--page-top);
}

.mdx > :where(h1, h2) {
    margin-top: var(--page-top);
}

.mdx > :where(h3, h4) {
    @apply mt-20;
}

.mdx > :where(h1, h2) + :where(h3, h4) {
    margin-top: 0px;
}

.mdx b,
.mdx strong {
    font-weight: 550;
}

.mdx blockquote {
    position: relative;
    padding-left: 1rem;
    margin: 1.75rem 0;
    font-family: var(--font-serif), sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-second);
    border-left: 4px solid var(--border);
}

.mdx > :has(+ ul, ol) {
    @apply mb-2;
}

.mdx > ul,
.mdx > ul ul {
    padding-left: 16px;
    list-style-position: outside;
    list-style-type: disc;
}

.mdx > ul li > ul {
    @apply list-[circle];
}

.mdx > ul li {
    @apply list-item leading-7;
}

.mdx > ul li::marker {
    color: var(--gray-300);
}

.mdx > ul li + li,
.mdx > ul li > ul {
    @apply mt-[7px];
}

.mdx > ul li > div,
.mdx > ul li > p {
    @apply mb-3;
}

.mdx ol {
    --counter-space: 12px;
    padding: 0;
    list-style-type: none;
    counter-reset: basics-ol;
}

.mdx > ol li {
    --l: calc(2 * var(--counter-space));
    padding-left: var(--l);
    text-indent: calc(-1 * var(--l));
}

.mdx > ol li:before {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    min-width: var(--counter-space);
    margin-right: var(--counter-space);
    font-feature-settings: 'tnum' 1;
    line-height: normal;
    color: var(--gray-300);
    text-align: right;
    letter-spacing: -0.05em;
    content: counter(basics-ol) '. ';
    counter-increment: basics-ol;
    user-select: none;
}

.mdx hr {
    width: 100%;
    height: 0;
    padding: 0;
    margin: var(--page-top) auto;
    overflow: visible;
    text-align: center;
    border: none;
}

.mdx hr::after {
    display: inline-block;
    margin: -1rem 0 0;
    font-size: 1.5rem;
    color: var(--text-disabled);
    content: '* * *';
}

.mdx table {
    empty-cells: hide;
    @apply md:text-sm;
}

.mdx th {
    @apply px-4 pb-1 text-left font-semibold [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx td {
    @apply border px-4 py-2 text-left align-text-top [&[align=center]]:text-center [&[align=right]]:text-right;
}

.mdx td:first-child {
    word-break: keep-all;
}

.mdx figure {
    overflow: hidden;
    border-radius: 6px;
}

.mdx img {
    display: flex;
    overflow: hidden;
    border-radius: 6px;
}

.mdx img + em,
.mdx img + em p,
.mdx figcaption {
    display: inline-block;
    margin-top: 8px;
    font-family: var(--font-sans);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--astro-code-token-comment);
}

.mdx code::before,
code::after {
    display: none;
}
